In [24]:
import pymongo
import pandas as pd

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_8048\3418081217.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Db - connection

In [117]:
connection_string = "mongodb+srv://mirroraccone:NduzVvb4dILJeZxl@test-cluster.wvpnfkn.mongodb.net/?retryWrites=true&w=majority"

# Create a MongoDB client
client = pymongo.MongoClient(connection_string)

# Access a specific database
db = client.test

# Taking User-cart detail

In [118]:
user_collection = db.users

In [119]:
user_documents = list(user_collection.find())

In [120]:
clean_data = []
for i in user_documents:
    if len(i) >4:
        clean_data.append(i)

In [121]:
len(clean_data)

9

In [122]:
raw_df = pd.DataFrame(clean_data)

In [123]:
raw_df.head()

,_id,fname,lname,username,email,phone,password,cart,__v
0,65cb63fa014992c432dfbe6f,Harishkannan,R,hari,harish@gmail.com,1234567890,Harish123,[],0
1,65cbf55b539dd7bfc1dbfe55,uj,jj,admin@gmaijjl.com,ijnji,844444,admin123@,NaN,0
2,65cc4ddbd658844a1cefd8fe,harsh,singh,harsh,harshsingh@jmangroup.com,6299543831,123,"[{'product': 65cb607e0886c38860fc15d8, 'quanti...",70
3,65cc7feb7a169d3ae503a2c8,hghfg,hfggf,jghj,gfgf@h.v,446,kjhkj,[],0
4,65cced817a169d3ae503a8ff,harish,r,hari,r.harishkannany217@gmail.com,9655825070,123,"[{'product': 65cb5fda0886c38860fc15d4, 'quanti...",6

In [124]:
raw_df['cart'][2]

[{'product': ObjectId('65cb607e0886c38860fc15d8'),
  'quantity': 2,
  '_id': ObjectId('65e559c94866eac1d72343f6')},
 {'product': ObjectId('65cb607e0886c38860fc15da'),
  'quantity': 1,
  '_id': ObjectId('65e559d74866eac1d723440b')}]

In [139]:
raw_df.columns

Index(['_id', 'fname', 'lname', 'username', 'email', 'phone', 'password',
       'cart', '__v'],
      dtype='object')

In [148]:
raw_df[['_id', 'fname', 'lname', 'username', 'email', 'phone', 'password', '__v']].to_csv('users.csv',index=None)

## Exporting cart

In [125]:
temp_df = raw_df[(~raw_df['cart'].isna()) & (raw_df['cart'].astype(bool))]

In [126]:
temp_df

,_id,fname,lname,username,email,phone,password,cart,__v
2,65cc4ddbd658844a1cefd8fe,harsh,singh,harsh,harshsingh@jmangroup.com,6299543831,123,"[{'product': 65cb607e0886c38860fc15d8, 'quanti...",70
4,65cced817a169d3ae503a8ff,harish,r,hari,r.harishkannany217@gmail.com,9655825070,123,"[{'product': 65cb5fda0886c38860fc15d4, 'quanti...",6
5,65ccf6757a169d3ae503aa73,rajib,kumar,Rajib,rajib@gmail.com,34567890,123,"[{'product': 65cb5fda0886c38860fc15d4, 'quanti...",1
7,65cf454b7a169d3ae503ad1d,kjdbf,rgerger,vaibav,123@gmail.com,55454,123,"[{'product': 65cb607e0886c38860fc15d8, 'quanti...",1
8,65cf491b7a169d3ae503ad4e,Deepak,Kumar,Deepak,deepak@example.com,52372513567,123,"[{'product': 65cb607e0886c38860fc15d8, 'quanti...",9

In [127]:
cart_df=pd.DataFrame()

In [133]:
cart_data = {
    '_id':[],
    'product': [],
    'quantity': [],
    'sub_id': []
}

In [134]:

for index, row in temp_df.iterrows():
    _id = row['_id']
    cart = row['cart']
    if len(cart) >1 :
        for i in cart:
            cart_data['_id'].append(_id)
            cart_data['product'].append(i['product'])
            cart_data['quantity'].append(i['quantity'])
            cart_data['sub_id'].append(i['_id'])
    
    cart_data['_id'].append(_id)
    cart_data['product'].append(cart[0]['product'])
    cart_data['quantity'].append(cart[0]['quantity'])
    cart_data['sub_id'].append(cart[0]['_id'])

In [142]:
pd.DataFrame(cart_data).to_csv('Cart.csv',index=None)

## Product Data

In [143]:
product_documents = list(db.products.find())

In [146]:
pd.DataFrame(product_documents).to_csv('products.csv',index=None)

In [84]:

new_df.to_csv('test.csv',index=None)